# Classification of Cars  into Manual or Automatic

#### Importing The Library

In [1]:
import pandas as pd
import numpy as np
import scipy
import matplotlib.pyplot as plt

from pylab import rcParams
import sklearn
from sklearn.neighbors import KNeighborsClassifier
from sklearn import neighbors
from sklearn import preprocessing
from sklearn.cross_validation import train_test_split
from sklearn import metrics

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [2]:
np.set_printoptions(precision=4,suppress=True)
%matplotlib inline
rcParams['figure.figsize']=7,4
plt.style.use('seaborn-whitegrid')

In [2]:
cars = pd.read_csv("data\mtcars.csv")
cars.head()

,Unnamed: 0,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [5]:
cars.columns = ['car_names', 'mpg', 'cyl', 'disp', 'hp', 'drat', 'wt', 'qsec', 'vs',
       'am', 'gear', 'carb']

In [6]:
cars.head()

,car_names,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [19]:
X_Prime = cars[["mpg","disp","hp","drat"]]
X = preprocessing.scale(X_Prime)

In [25]:
Y= cars[["am"]].values

In [29]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y, test_size = 0.33)

In [43]:
clf = neighbors.KNeighborsClassifier(n_neighbors=10)
clf.fit(X_train,Y_train)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=10, p=2,
           weights='uniform')

In [44]:
Y_Pred=clf.predict(X_test)

In [45]:
print(metrics.classification_report(Y_test,Y_Pred))

             precision    recall  f1-score   support

          0       0.86      1.00      0.92         6
          1       1.00      0.80      0.89         5

avg / total       0.92      0.91      0.91        11

In [64]:
acc_scores={}
for k in range(1,21):
    clf = neighbors.KNeighborsClassifier(n_neighbors=k)
    clf.fit(X_train,Y_train)
    Y_Pred=clf.predict(X_test)
    acc_scores[k]=metrics.accuracy_score(Y_test,Y_Pred)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  after removing the cwd from sys.path.

In [65]:
acc_scores

{1: 0.8181818181818182,
 2: 0.6363636363636364,
 3: 0.6363636363636364,
 4: 0.6363636363636364,
 5: 0.6363636363636364,
 6: 0.6363636363636364,
 7: 0.6363636363636364,
 8: 0.6363636363636364,
 9: 0.9090909090909091,
 10: 0.9090909090909091,
 11: 0.9090909090909091,
 12: 0.8181818181818182,
 13: 0.8181818181818182,
 14: 0.5454545454545454,
 15: 0.5454545454545454,
 16: 0.5454545454545454,
 17: 0.5454545454545454,
 18: 0.5454545454545454,
 19: 0.5454545454545454,
 20: 0.5454545454545454}

In [62]:
acc_scores=[]
for k in range(1,21):
    clf = neighbors.KNeighborsClassifier(n_neighbors=k,weights='uniform',p=2)
    clf.fit(X_train,Y_train)
    Y_Pred=clf.predict(X_test)
    acc_scores.append(metrics.accuracy_score(Y_test,Y_Pred))

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  after removing the cwd from sys.path.

In [63]:
acc_scores

[0.8181818181818182,
 0.6363636363636364,
 0.6363636363636364,
 0.6363636363636364,
 0.6363636363636364,
 0.6363636363636364,
 0.6363636363636364,
 0.6363636363636364,
 0.9090909090909091,
 0.9090909090909091,
 0.9090909090909091,
 0.8181818181818182,
 0.8181818181818182,
 0.5454545454545454,
 0.5454545454545454,
 0.5454545454545454,
 0.5454545454545454,
 0.5454545454545454,
 0.5454545454545454,
 0.5454545454545454]